.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item {
  text-align: center;
  margin: 20px;
}

.img {
  width: 250px; /* Ширина картинки */
  height: 150px; /* Высота картинки */
 
  border: 1px solid black;
}

.price {
  color: black;
  border: 1px solid black;
  padding: 5px;
  margin-top: 10px;
}

.btn {
  background-color: lightblue; /* Нежно-голубой цвет кнопки */
  color: black;
  border: 1px solid black;
  padding: 5px 10px;
  cursor: pointer;
}

.btn:hover {
  background-color: #add8e6; /* Нежно-голубой цвет кнопки при наведении */
}
